<!doctype html>
<html lang="ru" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% block stylesheets %}
        <link href="/styles/main.css" type="text/css" rel="stylesheet" />
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="h-full">
<div class="min-h-full">
    <nav class="bg-gray-800">
        {% include 'layouts/base/nav__desktop.twig' %}
        {% include 'layouts/base/nav__mobile.twig' %}
    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
                {% block page %}{% endblock %}
            </h1>
        </div>
    </header>
    <main class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        {% block content %}{% endblock %}
    </main>
</div>

{% block scripts %}

{% endblock %}
</body>
</html>
