
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    background-color: #f5f5f5;
}

.header {
    width: 100%;
}
.button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: inherit;
    border: 1px solid #3878b7;
    color: #333;
    cursor: pointer;
}

.button:hover {
    background-color: #3878b7;
    color: white;
}

.input {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: inherit;
    border: 1px solid #3878b7;
    color: #333;
    outline: none;
}

.input:focus {
    border: 1px solid #3878b7;
}

.link {
    color: #3878b7;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.form__heading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form__input-wrapper {
    width: 100%;
}

.form__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.error {
    color: red;
    font-size: 12px;
}