.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.preshow {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  border: 2px solid cornflowerblue;
}

.preshow__title {
  margin-bottom: 20px;
  font-size: 20px;
  color: cornflowerblue;
}

.preshow__image {
  margin-bottom: 20px;
}

.preshow__desc {

  font-size: 12px;
  color: cornflowerblue;
}

.photo {
  padding: 20px;
}

.photo__border {
  padding: 20px;
  max-width: 200px;
  border: 1px solid #ccc;
}

.photo__title {
  margin-bottom: 10px;
  font-size: 20px;
}

.photo-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.photo-form__btn {
  max-width: 200px;
}

.photo-form__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.photo-form__label {
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
}

.feedback {
  font-size: 20px;
  color: green;
}

.error {
  font-size: 20px;
  color: red;
}